import /init.usb.configfs.rc

on fs

    symlink /dev/block/platform/hi_mci.0 /dev/block/bootdevice
    start teecd
    start volisnotd
    start tmp_timer

service teecd /sbin/teecd
    disabled
    user root
    group root
    seclabel u:r:tee:s0

service volisnotd /sbin/volisnotd -m
    oneshot
    disabled
    user root
    group root
    seclabel u:r:tee:s0

service tmp_timer /sbin/tmp_timer
    oneshot
    disabled
    seclabel u:r:recovery:s0

on boot
    chown system system /sys/devices/ff200000.hisi_usb/plugusb
    chmod 0660 /sys/devices/ff200000.hisi_usb/plugusb
